svg {
    border: 1px solid black;
    padding: 25px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

g text {
    font-family: sans-serif;
}
.g-element-labels text {
    font-size: 0.7em;
    text-transform: uppercase;
}