body {
    font-family: sans-serif;
}

svg {
    border: 1px solid black;
    padding: 25px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.g-element-labels text {
    font-size: 0.7em;
    text-transform: uppercase;
}

main {
    position: relative;
}
.tooltip {
    border: 1px solid black;
    background-color: gray;
    box-shadow: 2px 2px gray;
    border-radius: 2px;
    padding: 5px;
    position: absolute;
    color: white;
    width: 200px;
    left: 100px;
    top: 100px;
    pointer-events: none;
}

.hidden {
    display: none;
}